<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=320, target-densitydpi=device-dpi">
</head>
<body>
<div>
  <h1>New releases</h1>

  {% for r in releases %}
  <div>{{ r.repoFullName }} @ {{ r.v }}</div>
  {% endfor %}

  <p>Check it all at <a href="https://releases.netlify.com">releases.netlify.com</a></p>
</div>
</body>
</html>
